@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* 
make the page margin,padding,borderbox - > zero
*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
}
/* this is navigation bar used for to navigate the pages 
the desgining process of the navigation for the page is below
*/
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    background-color: rgba(0,0,0);
}
.logo-name
{
    position: relative;
    cursor: pointer;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all linear;
}
.logo-name img
{
    margin-left: 10px;
    transition: .5s all linear;
}
.logo-name p
{
    margin-left: 80px;
    transition: .5s all linear;
    font-size: 17px;
    color: white;
}
.logo-name:hover img
{
    margin-left: 0;
}
.logo-name:hover p
{
    margin-left: 0;
    color: white;
}
.middle
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle .navinput
{
    padding: 12px;
    border-radius: 30px;
    outline: none;
    border: .5px solid #000;
    width: 250px;
    margin-right: 10px;
    transition: .5s all linear;
}
.middle .navinput:focus
{
    border: .5px solid #143cac;
}
.middle img
{
    width: 30px;
}
.right
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.right-middle ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.right-middle ul li{
    margin: 0 10px;
    position: relative;
    padding-bottom: 5px;   
    transition: .5s all linear;
}
.right-middle ul li .filler
{
    transition: .5s all linear;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    width: 0%;
    height: 4px;
    border-radius: 10px;
}
.right-middle ul li a
{
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: white;
}
.right-middle ul li:hover .filler
{
    width: 100%;
}
.right p
{
    margin-left: 10px;
    color: white;
}
.first
{
    position: relative;
    margin-top: 100px;
}
.yellow-div
{
    position: relative;
    height: 210px;
    width: 100%;
    background-color: #e4b642;
    margin-top: 25px;
}
.first .imgcontain
{
    position: absolute;
    bottom: -20%;
    transform: translateY(-15%);
    padding: 10px;
    border-radius: 5px;
    background-color:  white;
    left: 5%;
    transform: translateX(-5%);
}
.second
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 40px;
}
.left
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 50px;
}
.left p{
    width: 650px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: 600;
}
.leftimagecontainer
{
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.left h1
{
    font-size: 50px;
    font-weight: 400;
}
.firstimage-text,
.secondimage-text,
.threeimage-text
{
    margin: 10px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.textleft
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.textleft p:nth-child(2)
{
    margin-top: 1px;
}
.rights
{
    width: 35%;
    margin-left: 10px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,.1);
    border-radius: 30px;
}
video.vid
{
    position: absolute;
    top: -25%;
    right: -2.5%;
    width: 100%;
    height: 100%;
    width: 500px;
    height: 300px;
    border-radius: 30px; 
    z-index: 100;
    background-color: rgba(0,0,0,.1);
}
.desc
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.desc img
{
    width: 40px;
    margin-right: 30px;
}
.desc p 
{
    font-size: 42px;
    color: white;
}
.enrollbtn
{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enrollbtn .btn
{
    padding: 13px;
    width: 170px;
    border-radius: 5px;
    background: -webkit-linear-gradient( left, crimson 70%,rgba(0,0,0,.1));
    color: white;
    font-size: 19px;
    border: .5px solid #fff;
    margin-right: 80px;
    transition: .5s all ease-in-out padding;
    cursor: pointer;
}
.enrollbtn .btn:hover
{
    padding: 14px;
}
.enrollbtn img
{
    color: white;
}
.course-desc
{
    margin-top: 40px;
    background-color: white;
    width: 300px;
    border-radius: 10px;
}
.course-desc .list
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
}
.course-desc p
{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}
.course-desc .list li
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.course-desc .list li img
{
    margin-right: 10px;
    margin-left: 15px;
}
.course-desc .list li a
{
    color: Black;
    text-decoration: none;
    font-weight: 600;
}
.three
{
    width: 90%;
    margin: 50px auto;
    padding: 50px;
    background-color: rgba(0,0,0,.1);
    border-radius: 30px;

}
.articleheader h1
{
    font-size: 55px;
    margin: 15px 0;
    font-weight: 400;
}
.texts
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.unorder
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.unorder .second-div-text li p,
.unorder .first li p
{
    font-size: 21px;
    font-weight: 600;
}
.unorder .second-div-text li,
.unorder .first li
{
    margin-top: 15px;
}
.article .syll
{
    font-size: 60px;
    font-weight: 500;
    margin-top: 50px;
}
.contain-two-texts
{
    width: 70%;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    padding: 25px;
    margin-left: 70px;
}
.contain-two-texts .upperfirst h1
{
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
}
.contain-two-texts .uppersecond h1
{
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
}
.contain-two-texts .upperfirst p{
    color: #143cac;
    width: 700px;
}
.contain-two-texts .uppersecond p{
    color: #143cac;
    width: 700px;
}
.footnameone
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
.footnametwo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
.footnameone img
{
    margin-right: 15px;
}
.footnameone p
{
    font-weight: 700;
}
.footnametwo img
{
    margin-right: 15px;
}
.footnametwo p
{
    font-weight: 700;
}